# dependencies
**/node_modules/

# build outputs
**/dist/
**/.turbo/
.next
apps/web/.next
apps/api/dist

# logs
*.log

# env
.env
.env.*
!.env.example
apps/api/.env.vercel.prod

# editor/os
.DS_Store
.vercel
*.tsbuildinfo
apps/*/.turbo
apps/web/.next.bak.*
.turbo.bak.*
